    body {
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    background-color: #ddd;
}
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: normal;
    line-height: 1.1;
    color: inherit;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.container-fluid::before, .container-fluid::after, .row::before, .row::after{
    display: table;
    content: " ";
}
.container-fluid::after, .row::after{
    clear: both;
}
.col-md-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width:  100%;
    float: left;
}
.maintenance-code-wrapper {
    font-size: 12px;
    color: #303641;
    margin: 50px;
}

h1.maintenance-code-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    padding: 0px;
    margin: 20px 0px;
}

p.maintenance-code-message {
    color: #3c3c3c;
    font-weight: normal;
    margin: 20px 0px;
    font-size: 14px;
    max-width: 400px;
}